// Esquema de Colores

$white: #FFFFFF;
$heaven: #88e4f0;
$coral: #E56353;
$greyx: #c5c5c5;
$darks: #000000;


// Tipografias

$playfair: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;

// Pesos de Fuentes
$robotolight: 300;
$regular: 400;
$blackitalic: 900;

// Tamaños de fuentes

$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;

//Breakpoints

$min-phone: 576px;
$min-tablet: 768px;
$min-laptop: 992px;
$min-desktop: 1200px;

